<p>your token has expired</p>

<form action="/resendToken" method="POST">
    <label for="mail">Enter Your Email</label>
    <input type="text" name = "email" placeholder = "Email" >
    <button type = "submit">Verify</button>
</form>